spring:
  application:
    name: eureka-feign-client
server:
  port: 8765

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
#feign自动引用hystrix，开启hystrix
feign:
  hystrix:
    enabled: true